
body {
    font-family: 'Montserat';
        font-style: normal;
        background-color: blanchedalmond;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 0 auto;

}

.submit{
    padding-left: 15px;
}

.gallery {
    display: flex;
        gap: 12px;
        flex-wrap: wrap;
        
        

}

.gallery__item {
width: calc((100% - 64px) / 4);
border: 2px rosybrown;
position: relative;


}
.gallery__image {
    width: 420px;
    object-fit: cover;
    height: 300px;
    overflow: hidden;

    
}


.search-form{
display: flex;
justify-content: center;
margin-bottom: 20px;
margin-top: 20px;


}
.image_description{
    font-family: 'Montserat';
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.input{
    width: 300px;
        height: 40px;
        border: none;
        border-radius: 20px;
        outline: none;
        padding: 5px 5px 5px 15px;
        font-size: 16px;
    }
